name: Build Next.JS Pages

on:
  push:
  pull_request:
  merge_group:

jobs:
  build:
    name: Build Next.JS Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Restore cache
        uses: actions/cache@v5
        with:
          path: |
            .next/cache
            bun.lock
            node_modules
          key: ${{ runner.os }}-nextjs-${{ hashFiles('bun.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('bun.lock') }}-

      - name: Install dependencies
        run: bun install

      - name: Build with Next.js
        run: bun run build
